In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [4]:
# loading datset
df = pd.read_csv('diabetes.csv')

In [7]:
# print 1st 5 rows 
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [16]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [13]:
# rows and columns
df.shape

(768, 9)

In [10]:
# print more information about the datset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [17]:
df.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [21]:
# seperating predators and labesl
X=df.drop(columns = 'Outcome', axis=1)
y=df['Outcome']

In [24]:
#standardize the data
scaler = StandardScaler()

In [25]:
scaler.fit(X)

StandardScaler()

In [26]:
# transform the std data
standardized_data = scaler.transform(X)

In [27]:
X = standardized_data
y = df['Outcome']

In [29]:
# spliting our data
X_train, X_valid, y_train, y_valid = train_test_split(X,y, test_size=0.2,stratify=y, random_state=1)

In [39]:
# training the model
classifier = svm.SVC(kernel='linear')
classifier.fit(X_train,y_train)

SVC(kernel='linear')

In [40]:
# Model evaluation
# accuracy score on training data

X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, y_train)

In [42]:
print('Accuracy score of the training data :',training_data_accuracy )

Accuracy score ot the training data : 0.7833876221498371

In [45]:
# accuracy score on test data
X_valid_prediction = classifier.predict(X_valid)
test_data_accuracy = accuracy_score(X_valid_prediction, y_valid)

In [46]:
print('Accuracy score of the test data :',test_data_accuracy )

Accuracy score of the test data : 0.7792207792207793

In [57]:
# making a predictive model
input_data = (5,132,80,0,0,26.8,0.186,69)
# converting input data to an arrray
input_data_asarray = np.asarray(input_data)
#resahping the array
input_reshaped = input_data_asarray.reshape(1,-1)
# standardizing input data
std_data = scaler.transform(input_reshaped)

#predicting
prediction = classifier.predict(std_data)

if prediction[0]==0:
    print(prediction, 'patient is not diabetic')
else:
    print(prediction, 'patient is diabetic')

[0] patient is not diabetic